<fieldset>
  <legend>{{ title() }}</legend>
  <div class="cmd-container">
    <p class="cmds">
      <button class="pill" title="Pop top value off stack" (click)="cmdKey('Escape')">Pop</button>
    </p>

    <p class="cmds">
      <button class="pill" (click)="cmdKey('0')">0</button>
      <button class="pill" (click)="cmdKey('1')">1</button>
      @if(calcMode()  === 'Decimal' || calcMode() === 'Hex') {
        <button class="pill" (click)="cmdKey('2')">2</button>
        <button class="pill" (click)="cmdKey('3')">3</button>
        <button class="pill" (click)="cmdKey('4')">4</button>
        <button class="pill" (click)="cmdKey('5')">5</button>
        <button class="pill" (click)="cmdKey('6')">6</button>
        <button class="pill" (click)="cmdKey('7')">7</button>
        <button class="pill" (click)="cmdKey('8')">8</button>
        <button class="pill" (click)="cmdKey('9')">9</button>
      }
      @if(calcMode() === 'Hex') {
        <button class="pill" (click)="cmdKey('A')">A</button>
        <button class="pill" (click)="cmdKey('B')">B</button>
        <button class="pill" (click)="cmdKey('C')">C</button>
        <button class="pill" (click)="cmdKey('D')">D</button>
        <button class="pill" (click)="cmdKey('E')">E</button>
        <button class="pill" (click)="cmdKey('F')">F</button>
      } 
      <button class="pill" title="Remove the last keystroke." (click)="cmdKey('Backspace')">«</button>
    </p>

    <p class="cmds">
      <button class="pill" title="Push current value to stack" (click)="cmdKey('Enter')">Push</button>
    </p>

    <p class="cmds">
      <button class="pill" title="Add the top two values" (click)="cmdKey('+')">+</button>
      <button class="pill" title="Subtract the first stack value by the top value" (click)="cmdKey('-')">-</button>
      <button class="pill" title="Multiply the top two values" (click)="cmdKey('*')">*</button>
      <button class="pill" title="Divide the first stack value by the top value" (click)="cmdKey('/')">/</button>
      <button class="pill" title="Get the mod/remainder from dividing the first stack value by the top value" (click)="cmdKey('%')">%</button>
    </p>
    <p class="cmds">
      <button class="pill" title="Bitwise AND the top two values" (click)="cmdKey('&')">&</button>
      <button class="pill" title="Bitwise OR the top two values" (click)="cmdKey('|')">|</button>
      <button class="pill" title="Bitwise XOR top two values" (click)="cmdKey('^')">^</button>
      <button class="pill" title="Bitwise Invert the top value" (click)="cmdKey('~')">!</button>
    </p>
  </div>

  <main class="main content">
    <div class="content">

      <div class="calc-column" id="decimal-stack">

        @if(calcMode() == 'Decimal') {
          <button class="pill current-mode">Decimal</button>
        } @else {
          <button class='pill' (click)="setMode('Decimal')">Decimal</button>
        }
        <p class="pill"> {{ calcValue() }} </p>
        @for (item of calcStackRev(); track $index) {
          <p class="stack-item">{{ item }}</p>
        }
      </div>

      <div class="calc-column" id="hex-stack">
        @if(calcMode() == 'Hex') {
          <button class="pill current-mode">Hex</button>
        } @else {
          <button class='pill' (click)="setMode('Hex')">Hex</button>
        }
        <p class="pill"> {{ calcValue() | hexPipe }} </p>
        @for (item of calcStackRev(); track $index) {
          <p class="stack-item">{{ item | hexPipe }}</p>
        }
      </div>

      <div class="calc-column" id="binary-stack">
        @if(calcMode() == 'Binary') {
          <button class="pill current-mode">Binary</button>
        } @else {
          <button class='pill' (click)="setMode('Binary')">Binary</button>
        }
        <p class="pill"> {{ calcValue() | binaryPipe }} </p>
        @for (item of calcStackRev(); track $index) {
          <p class="stack-item">{{ item | binaryPipe }}</p>
        }
      </div>
    </div>
  </main>

  <p>
    <button (click)="showHideText('H')">Instructions...</button>
  </p>
  @if(showInstructions()) {
    <ul>
      <li>Use the on-screen buttons or your keyboard to input numbers and operations.</li>
      <li>Press 'Enter' to push the current value onto the stack.</li>
      <li>Press 'Escape' to pop the top value off the stack.</li>
      <li>Switch between Decimal, Hexadecimal, and Binary modes using the mode buttons, or right/left arrow keys.</li>
      <li>Perform calculations using standard arithmetic and boolean operators in Reverse Polish Notation.</li>
      <li>Boolean operations such as AND (&), OR (|), XOR (^), and NOT (!) are also supported.</li>
    </ul>
  }
  <p>
    <button (click)="showHideText('S')">The story of this calculator...</button>
  </p>
  @if(showStory()) {
    <ul>
      <li>I wrote the original version of this calculator in Classic C, on DOS, 80x25 text screen in 16 colors.
        It was back around 1985 during a lull in production demands. What took days to code then, took only 
        hours. This Angular version is a modern reimagining of that original program, updated to leverage 
        contemporary web technologies while preserving the core.
      </li>
      <li>
        This calculator was created to assist programmers in converting and calculating values 
        across different number systems commonly used in programming. It aims to provide a 
        user-friendly interface for quick conversions and calculations. 
      </li>
      <li>
        Being a Programmer's Calculator, it runs on Reverse Polish Notation (RPN); 
        the operation (e.g. +) runs on the top two stack values: enter a value, press Enter to 
        push it to the stack, enter another value, press Enter, then press + to add them together.
      </li>
    </ul>
  }
  @if (dbzError()) {
    <div class="dbzError">
      <h1>Division or Modulus by Zero Error!</h1>
      <p>You tried to divide by zero which is sad, like if you had to share a cookie with your zero friends.</p>
      <br/>
      <button (click)="dbzError.set(false)">Clear Error</button>
    </div>
    <fieldset class="error-box">
      <legend>Error</legend>
    </fieldset>
  }
</fieldset>
